<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <!--we have 12 units, want 6 units but not the left 6 ones, so use offset-3-->
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <!-- novalidate tells to browser to not validate and let bootstrap do it-->
            <div class="mb-3">
                <label class="form-label" for="title">Title:</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required> 
                <!--campground[title] grounds everything under 'campground' category
                ie. now req.body will have campground property in which all the other properties
                like title,location,etc would exist-->
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location:</label>
                <input class="form-control" type="text" id="location" name="campground[location]"required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!--<label class="form-label" for="image">Upload Image(s):</label>
                <input class="form-control" type="file" name="image" id="" multiple>
                -->
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Upload Image(s):</label>
                <input class="form-control" type="file" id="image" name="image" multiple required>
                <div class="invalid-feedback">
                    This campground would look better with a picture.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price:</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]"required>
                </div>
                <div class="valid-feedback">
                        Looks good!
                    </div>
            </div>
            <div class="mb-3">
                    <label class="form-label" for="desciption">Description:</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                    <div class="valid-feedback">
                            Looks good!
                        </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
            </form>
                
    </div>
</div>

